---
layout: default 
permalink: /
title: Home
---
  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    {% assign featured = "" | split: "," %}
    {% if site.data.highlights.featured %}
       featured = site.data.highlights.featured 
    {% else %}
       {% for cat in site.categories %}
          {% assign post = cat[1] | first %}
          {% assign featured = featured | push: post.path %}
       {% endfor %}   
    {% endif %}
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                {% for post_path in featured %}
                  {% assign feat_post = site.posts | where: "path", post_path | first %}
                  {% if feat_post %}  
                <div class="swiper-slide">
                  <a href="{{feat_post.url}}" class="img-bg d-flex align-items-end" style="background-image: url('{{feat_post.image}}');">
                    <div class="img-bg-inner">
                      <h2>{{feat_post.title}}</h2>
                      <p>{{feat_post.excerpt | strip_html }}</p>
                    </div>
                  </a>
                </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    {% assign post_limits = "1,3,3,6" | split: "," %}
    {% assign posts = site.posts %}
    {% assign posts_written = 0 %}
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          
          <div class="col-lg-4">
            {% for post in posts limit: post_limits[0] %}
              {% include post-index-lg.html post=post %}
              {% assign posts_written = posts_written | plus: 1 %}
            {% endfor %}
          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                {% for post in posts offset: posts_written limit: post_limits[1] %}
                  {% include post-index-md.html post=post %}
                  {% assign posts_written = posts_written | plus: 1 %}
                {% endfor %}
                <div class="post-entry-1"><p> </p></div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                {% for post in site.posts offset: posts_written limit: post_limits[2] %}
                  {% include post-index-md.html post=post %}
                  {% assign posts_written = posts_written | plus: 1 %}
              {% endfor %}
                <div class="post-entry-1"><p> </p></div>
              </div>

              <!-- Trending Section -->
              <div class="col-lg-4">
                {% assign trending = "" | split: "," %}
                {% if site.data.highlights.trending %}
                   {% assign trending = site.data.highlights.trending %}
                {% else %}
                   {% for cat in site.categories %}
                      {% assign post = cat[1] | first %}
                      {% assign trending = trending | push: post.path %}
                   {% endfor %}   
                {% endif %}
            
                <div class="trending">
                  <h3>Trending</h3>
                  <ul class="trending-post">
                    {% for post_path in trending limit: 5 %}
                    <li>
                      {% assign post = site.posts | where: "path", post_path | first %}
                      <a href="{{post.url}}">
                        <span class="number">{{forloop.index}}</span>
                        <h3>{{post.title}}</h3>
                        {% include author.html author=post.author display="name" %}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Category Section ======= -->
    {% capture categories %}
    {% for cat in site.categories %}{{cat[0]}} {% endfor %}
    {% endcapture %}
    {% assign categories = categories | split:" " | sort_natural %}
    {% for cat in categories %}
        {% assign catwords = cat | split: "-" %}
        {% capture cat_name %}
           {% for word in catwords %}{{word | capitalize}} {% endfor %}
        {% endcapture %}
        {% assign posts = site.categories[cat] %}
        {% assign posts_written = 0 %}
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>{{cat_name}}</h2>
          <div><a href="/{{cat}}" class="more">See All {{cat_name}}</a></div>
        </div>

        <div class="row g-5">
          <div class="col-lg-4">
            {% for post in posts limit: post_limits[0] %}
              {% include post-index-lg.html post=post %}
              {% assign posts_written = posts_written | plus: 1 %}
            {% endfor %}
          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                {% for post in posts offset: posts_written limit: post_limits[1] %}
                  {% include post-index-md.html post=post %}
                  {% assign posts_written = posts_written | plus: 1 %}
                {% endfor %}
                <!-- This empty div is required, so that columns on right e.g. Trending etc. can still be written-->
                <div class="post-entry-1"><p> </p></div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                {% for post in posts offset: posts_written limit: post_limits[2] %}
                  {% include post-index-md.html post=post %}
                  {% assign posts_written = posts_written | plus: 1 %}
                {% endfor %}
                <div class="post-entry-1"><p> </p></div>
              </div>
              <div class="col-lg-4">
                {% for post in posts offset: posts_written limit: post_limits[3] %}
                  {% include post-index-sm.html post=post %}
                  {% assign posts_written = posts_written | plus: 1 %}
                {% endfor %}
                <div class="post-entry-1"><p> </p></div>
              </div>
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section><!-- End Category Section -->
    {% endfor %}


  </main><!-- End #main -->

