  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{{site.baseurl}}/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        {% if {{site.logo}} %}<img src="{{site.logo | prepend:site.baseurl}}" alt="Logo of {{site.title}}">{% endif %}
        <h1>{{site.title}}</h1><br/>
      </a>

      <nav id="navbar" class="navbar">
        {% include nav-top.html %}
      </nav><!-- .navbar -->

      <div class="position-relative">
        <!-- The below code is not used, but is somehow required. Template breaks is we remove -->
        <i class="bi bi-list mobile-nav-toggle"></i>
        <a href="#" class="mx-2 js-search-open"></a>
        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div>
        <!-- End Search Form -->

      </div>
    </div>
  </header><!-- End Header -->
