{% capture categories %}
    {% for cat in site.categories %}
       {{cat[0]}} 
    {% endfor %}
{% endcapture %}
{% assign sorted_categories = categories | split:' ' | sort %}
<ul>
    {% for nav in site.data.navigation.nav-bar %}
      {% if nav.type == "categories" %}
          <li class="dropdown">
            <a href="{% if nav.url %}{{nav.url}}{% else %}#{% endif %}"><span>{{nav.title}}</span> 
                <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
                {% for cat in sorted_categories %}
                {% assign catwords = cat | split: "-" %}
                <li><a href="/{{cat}}">
                    {% for word in catwords %}{{word | capitalize}} {% endfor %}
                </a></li>
                {% endfor %}
            </ul>
          </li>
      {% else %}
        <li class="nav-link scroll-to">
            <a href="{% if nav.url %}{{nav.url}}{% else %}#{% endif %}">{{nav.title}}</a>
        </li>
      {% endif %}
    {% endfor %}
</ul>