{% assign post = include.post | default: page %}
<div class="post-entry-1 border-bottom">
    <div class="post-meta">
    <span class="date">{{post.categories[0] | replace: '-',' ' }}</span> 
    <span class="mx-1">&bullet;</span> 
    <span>{{post.date | date: "%b %d, '%y"}}</span>
    <!-- <span class="mx-1">&bullet;</span> 
    <span class="date">Rel</span>  -->
</div>
    <h2 class="mb-2"><a href="{{post.url}}">{{ post.title }}</a></h2>
    <span class="author mb-3 d-block">{% include author.html author=post.author display="name" %}</span>
</div>