<!-- ======= Sidebar ======= -->
    {% comment %}
    <!-- 
        Sidebars accepted are: related, toc, trending, latest
    -->
    {% endcomment %}
    {% assign sidebar_tabs = include.sidebars | default: "latest" %}
    {% assign sidebar_tabs = sidebar_tabs | split: "," %}
    {% assign sidebar_list = "related,toc,trending,latest" | split: "," %}
    {% assign sidebar_active = "latest" %}

    {% for sidebar in sidebar_list %}
       {% if sidebar_tabs contains sidebar %}
          {% assign sidebar_active = sidebar %}
          {% break %}
       {% endif %}
    {% endfor %}
    <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
        {% if sidebar_tabs contains "related" %}
          {% include sidebar-tab.html tab="related" label="You may enjoy" active=sidebar_active %}
        {% endif %}
        <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
        </li> -->
        {% if sidebar_tabs contains "latest" %}
            {% include sidebar-tab.html tab="latest" label="Latest" active=sidebar_active %}
        {% endif %}
    </ul>

    <div class="tab-content" id="pills-tabContent">

    {% if sidebar_tabs contains "related" %}
        <!-- Related -->
        {% if sidebar_active == "related" %}
           {% assign show_active = "show active" %}
        {% else %}
            {% assign show_active = "" %}
        {% endif %}
        <div class="tab-pane fade {{show_active}}" id="pills-related" role="tabpanel" aria-labelledby="pills-related-tab">
        {% assign rel_counter = 0 %}
        {% assign rel_max = site.limits.related | default: 5 %}
        {% assign tag_match_min = site.limits.tag_match | default: 2 %}
        {% assign shown_pages = "" | split: "," %} <!-- required since liquid doesn't have syntax for empty arrays -->
        <!-- If related pages are specified, show all of those first -->
        {% if page.related %}
            {% for related in page.related %}
            {% assign rel_page = site.posts | where: "path", related | first %}
            {% if rel_page %}
                {% assign rel_counter = rel_counter | plus: 1 %}
                {% assign shown_pages = shown_pages | push: rel_page.url %}
                {% include sidebar-item.html post=rel_page %}
            {% endif %}
            {% endfor %}
        {% endif %}
        {% if rel_counter < rel_max %}
            <!-- List the latest posts that match minimum number of tags -->
            {% for post in site.posts %}
                {% if post.url != page.url %}
                {% assign tagmatch_counter = 0 %}
                {% for tag in post.tags %}
                    {% if page.tags contains tag %}
                        {% assign tagmatch_counter = tagmatch_counter | plus: 1 %}
                    {% endif %}
                {% endfor %}
                {% if tagmatch_counter >= tag_match_min %}
                    {% unless shown_pages contains post.url %}
                        {% assign rel_counter = rel_counter | plus: 1 %}
                        {% assign shown_pages = shown_pages | push: post.url %}
                        {% include sidebar-item.html post=post %}
                    {% endunless %}                        
                {% endif %}
                {% if rel_counter >= rel_max %}
                    {% break %}
                {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
            <!-- If we still don't have minimum number of posts related posts, fill from same category -->
        {% if rel_counter < rel_max %}
            {% for category in page.categories %}
                {% assign posts = site.categories[category] %}
                {% for post in posts %}
                {% if post.url != page.url %}
                    {% unless shown_pages contains post.url %}
                        {% assign rel_counter = rel_counter | plus: 1 %}
                        <!-- Not really required since this is the last set. However, helpful to have in case we move the order of category match vs tag match-->
                        {% assign shown_pages = shown_pages | push: post.url %}
                        {% include sidebar-item.html post=post %}
                    {% endunless %}
                {% endif %}
                {% if rel_counter >= rel_max %}
                    {% break %}
                {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}


        </div> <!-- End Related -->
        {% endif %}

        <!-- Latest -->
        {% if sidebar_tabs contains "latest" %}
            {% if sidebar_active == "latest" %}
            {% assign show_active = "show active" %}
            {% else %}   
            {% assign show_active = "" %}
            {% endif %}
        <div class="tab-pane fade {{show_active}}" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
        {% assign latest_limit = site.limits.latest | default: 10 %}
        {% for post in site.posts limit: latest_limit %}
            {% include sidebar-item.html post=post %}
        {% endfor %}
        </div> <!-- End Latest -->
        {% endif %}

    </div>
