---
layout: default
---
  <main id="main">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Category: {{page.category}}</h3>

            {% for post in site.categories[page.category] %}
            <div class="d-md-flex post-entry-2 half">
              <a href="{{post.url}}" class="me-4 thumbnail">
                <img src="{{post.image}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">{{page.category | replace: "-"," "}}</span> 
                  <span class="mx-1">&bullet;</span> 
                  <span>{{post.date |  date: "%b %d, '%y"}}</span></div>
                <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                <p>{{post.excerpt | strip_html}}</p>
                {% include tags-list.html page=post show_count="false" title_class="post-tag-title" list_class="post-tags" %}
                {% include author.html author=post.author  %}
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">
              {% include sidebar-posts.html %}
            </div>

            <div class="aside-block">
              {% include category-list.html %}
            </div><!-- End Categories -->

            <div class="aside-block">
              {% include tags-list.html type="category" category=page.category show_count="true" %}
            </div><!-- End Tags -->

          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->

